@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0.18);
}

.container {
    background-color: #fafafa;
    height: 630px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.game-data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:40px 0 ;
}

.game-data p {
    font-weight: 600;
    text-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

.circle img {
    filter: drop-shadow(0 0px 4px rgba(0, 225, 255, 0.982));
}

.cross img {
    filter: drop-shadow(0 0px 4px rgba(255, 0, 0, 0.644));
}

.draw img {
    filter: drop-shadow(0 0px 4px rgba(0, 0, 0, 0.644));
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

img {
    height: 30px;
    width: 30px;
}

.game {
    /* background-color: red; */
    height: 50%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 10px;
}

.gt,
.gc,
.gb {
    /* background-color: burlywood; */
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}


.hr{
    height: 2px;
    width: 100%;
    /* background-color: rgba(45, 45, 45, 0.13); */
    border-radius: 100px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.vl{
    position: absolute;
    height: 100%;
    width: 2px;
    /* background-color: rgba(45, 45, 45, 0.13); */
    border-radius: 100px;
    left: 32%;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.right-vl{
   left:68%;

}
.box {
    width: 30%;
    height: 98%;
    font-size: 2rem;
    border: none;
    background-color: transparent;
}

.box img {
    height: 50px;
    width: 50px;

}
 .red{
    filter: drop-shadow(0 0px 4px rgba(255, 0, 0, 0.644));

}
.blue{
    filter: drop-shadow(0 0px 4px rgba(0, 225, 255, 0.982));

}

.reset,
.start,
.player {
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 1.4px solid #000000;
}

.reset img,
.start img {
    height: 25px;
    width: 25px;
}

.player {
    border-radius: 100px;
    padding: 10px 20px;
    font-weight: 600;

}

.footer {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}
.msg-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-top: 20px;
}
.msg{
    display: flex;
    align-items: center;
    gap: 10px; 
    text-decoration: underline; 
    text-underline-offset: 6px;
}
.hide{
    display: none;  
}